:root {
  /* Subjects */
  --color-lpo-d1: #C51A1B;
    --color-lpo-d2: #981711;
    --color-lpo-d3: #E59798;
    --color-lpo-d4: #F7DCDD;

    --color-prod-txt-d1: #0F83A6;
    --color-prod-txt-d2: #005E7C;
    --color-prod-txt-d3: #92C7D7;
    --color-prod-txt-d1: #DBECF2;

    --color-ing-d1: #069891;
    --color-ing-d2: #015F5B;

    --color-artes-d1: #64428C;
    --color-artes-d2: #3F1F71;
    --color-artes-d3: #B9A9CB;
    --color-artes-d4: #E8E3EE;

    --color-mat-d1: #1961AC;
    --color-mat-d2: #033878;
    --color-mat-d3: #97B7D9;
    --color-mat-d4: #DCE7F3;
    --color-bio-d1: #45973D;
    --color-bio-d2: #306E2B;
    --color-bio-d3: #ABD0A7;
    --color-bio-d4: #E3F0E2;

    --color-quimica-d1: #B80071;
    --color-quimica-d2: #850343;
    --color-quimica-d3: #DF8CBF;
    --color-quimica-d4: #F5D9EA;

    --color-soc-d1: #C71553;
    --color-soc-d2: #8B1038;
    --color-soc-d3: #E695B1;
    --color-soc-d4: #F7DCE5;

    --color-fil-d1: #536DA7;
    --color-fil-d2: #3A4C74;
    --color-fil-d3: #B1BDD7;
    --color-fil-d4: #E5E9F2;

    --color-his-d1: #951B81;
    --color-his-d2: #6A0F5A;
    --color-his-d3: #CF98C6;
    --color-his-d4: #EFDDEC;
    --color-his-a1: #8CCAAE;
    --color-his-a2: #208F6D;
    --color-his-a3: #D7EDE3;
    --color-his-a4: #EEF7F3;
    
    --color-geo-d1: #D85509;
    --color-geo-d2: #9E2705;
    --color-geo-d3: #EDB290;
    --color-geo-d4: #F9E5DA;
    --color-geo-a1: #8CCAAE;
    --color-geo-a2: #208F6D;
    --color-geo-a3: #D7EDE3;
    --color-geo-a4: #EEF7F3;


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, .body {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  font-family: 'proxima_nova_regular', sans-serif;
  font-size: 16px;
  background-color: #EDEDED;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
    /* 15px */
  }
}

@media (max-width: 900px) {
  html {
    font-size: 87.5%;
    /* 14px */
  }
}

@media (max-width: 900px) {
  .main {
    max-width: 692px;
    width: 692px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .img-md{
    margin-top: 1rem;
    width: 100%;
  }
  
  .img-md-exercicio {
    width: 100%;
    align-items: center;
    margin-top: 1rem;
  }
      
  .titulo-cap-section {
    display: flex;
    position: absolute;
    top: 52px;
    left: 26px;
    z-index: 10;
    width: 636px;
  }

  .text-content-area {
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 0 52px;
  }

  .double-columned-content {
    max-width: 100%;
    width: 100%;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 52px
  }
  
}

@media (min-width: 901px) {
  .main {
    max-width: 876px;
    width: 876px;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .titulo-cap-section {
    display: flex;
    position: absolute;
    top: 52px;
    left: 68px;
    z-index: 10;
    width: 740px;
    }

  .ml-25 {
    margin-left: 25%;
  }
    
   .img-md {
    margin-top: 1rem;
    width: 100%;
  }
  
  .img-md-exercicio {
    min-width: 391px;
    align-items: center;
    margin-top: 1rem;
  }

  .text-content-area {
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 0 68px;

  }

  .double-columned-content {
    max-width: 100%;
    width: 100%;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 68px
  }
}

nav,
aside {
  max-width: 36px;
  width: 36px;
  min-height: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-fullwidth-area {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.general-text {
  font-size: 18px;
  margin: 1rem 0;
  font-family: 'proxima_novalight';
}

.exercicio-text b {
  font-family: 'proxima_novabold';
}

.double-columned-content-left {
  width: 40%;
  display: flex;
  flex-flow: column;
  /* width: 50%; */
}

.double-columned-content-right {
  width: 60%;
  display: flex;
  flex-flow: column;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Fonts */

@font-face {
  font-family: 'proxima_novablack_italic';
  src: url('../assets/fonts/ProximaNova/proxima_nova_black_it-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_black_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novablack';
  src: url('../assets/fonts/ProximaNova/proxima_nova_black-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold_italic';
  src: url('../assets/fonts/ProximaNova/proxima_nova_bold_it-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_bold_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novabold';
  src: url('../assets/fonts/ProximaNova/proxima_nova_bold-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight_italic';
  src: url('../assets/fonts/ProximaNova/proxima_nova_light_it-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_light_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novalight';
  src: url('../assets/fonts/ProximaNova/proxima_nova_light-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular_italic';
  src: url('../assets/fonts/ProximaNova/proxima_nova_reg_it-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_reg_it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima_novaregular';
  src: url('../assets/fonts/ProximaNova/proxima_nova_reg-webfont.woff2') format('woff2'),
    url('../assets/fonts/ProximaNova/proxima_nova_reg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Prelo_regular';
  src: url('../assets/fonts/Prelo/Prelo-Medium.woff2') format('woff2'),
    url('../assets/fonts/Prelo/Prelo-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Prelo_bold';
  src: url('../assets/fonts/Prelo/Prelo-Bold.woff2') format('woff2'),
    url('../assets/fonts/Prelo/Prelo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: bold;
}


@font-face {
  font-family: 'Prelo_light';
  src: url('../assets/fonts/Prelo/Prelo-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Prelo/Prelo-ExtraLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prelo_extra_bold';
  src: url('../assets/fonts/Prelo/Prelo-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Prelo/Prelo-ExtraBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Prelo_black';
  src: url('../assets/fonts/Prelo/Prelo-Black.woff2') format('woff2'),
    url('../assets/fonts/Prelo/Prelo-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}